
.content-section {
  box-sizing: border-box;
  width: 100%;
  max-width: 1100px;
  margin: auto;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 95px 50px 96px;
}

.header__menu {
  display: flex;
  column-gap: 33px;
  list-style: circle;
}
.header__menu-item {
  color: #000000;
}

.header__menu-link {
  color: #000000;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  text-decoration-skip-ink: none;
  text-underline-offset: 4px;
}
.header__menu-item_active .header__menu-link {
  text-decoration: none;
}
.no-marker {
  list-style: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}
.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  min-width: 237px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
}

.contacts__link {
  display: block;
  color: #000000;
  text-decoration-skip-ink: none;
  text-underline-offset: 4px;
}

.contacts__link-active .address {
  text-decoration: underline;
}

.cover {
  position: relative;
  width: 100%;
  min-height: 757px;
  margin-bottom: 182px;
  padding: 165px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.cover__title {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 20px;
  color: #ffffff;
  font-family: Raleway;
  font-weight: 700;
  font-size: 100px;
  font-style: Bold;
  text-transform: uppercase;
}

.letter-spacing-extended {
  letter-spacing: 0.3em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.accent-span {
  position: relative;
  display: block;
}

.text-center {
  left: 18px;
  text-align: center;
}

.text-right {
  text-align: right;
}

.cover__description {
  position: relative;
  bottom: 4px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  margin-top: 106px;
  color: #ffffff;
}

.cover__description-text {
  align-self: center;
  font-family: Raleway;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: uppercase;
  word-spacing: 20px;
}

.bet-button {
  border: 1px solid #ffffff;
  padding: 15px 32px 11px 31px;
  color: #ffffff;
  font-family: Raleway;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
}

.lots {
  margin-bottom: 125px;
  padding: 0px 24px;
}

.lots__heading {
  margin: 0px 0px 27px 40px;
  color: #000000;
  font-family: Raleway;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.lots__card-list-item {
  position: relative;
  width: 334px;
  min-height: 596px;
  list-style: none;
}

.card-link {
  display: block;
  height: 100%;
  color: #ffffff;
  text-decoration: none;
}

.card {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
}

.card_type_film {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card_type_book {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card_type_picture {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__title {
  font-family: Raleway;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: none;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.card__text {
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
}

.lots__look-more-link {
  display: block;
  margin: 30px 0px 0px 40px;
  color: #000000;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration-skip-ink: none;
  text-underline-offset: 5px;
}

.about {
  margin-bottom: 183px;
  padding: 0px 24px;
}

.about__column {
  display: grid;
  grid-template-columns: 334px 693px;
  column-gap: 26px;
  width: 100%;
}

.about__logo {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-top: 35px;
  border-radius: 50%;
  background-color: #000000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}
.about__title {
  margin-top: 137px;
  margin-bottom: 105px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.about__text {
  margin-right: 0px;
  margin-bottom: 24px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

.about__text-bottom {
  margin-bottom: 0;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  padding: 0px 50px 82px;
}

.footer__address {
  justify-self: start;
  min-height: 98px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.footer__menu-list-item {
  color: #000000;
}

.footer__menu-link {
  color: #000000;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration-skip-ink: none;
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
  list-style: none;
}

.footer__social-list-item {
  width: 48px;
  height: 48px;
}

.footer__social-link {
  width: 100%;
}

.footer__social-icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
